body {
  background-color: #89cff0;
  font-family: system-ui;
  color: white;
}

li {
  list-style: none;
  background-color: #ff6961;
  border-radius: 0.7rem;
  padding: 15px;
  display: flex;
  box-shadow: 20px 10px 19px #d291bc;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 700px;
  min-width: min-content;
  margin: 0;
}

h1 {
  margin-left: 45px;
  color: #ff4d4d;
}

.address {
  padding: 15px;
}
p {
  line-height: 1.4rem;
}
h1,
h4 {
  font-weight: 625;
}

button {
  border-radius: 5px;
  background-color: #008cba;
  text-decoration: none;
  border-style: none;
  padding: 20px;
  font-size: 15px;
}
